.app.dark {
    --bg-color: #6b1616;
    --inverted-bg-color: #e8e8ea;


    --primary-color: #251e1e;
    --secondary-color: #6e6e6e;

    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #116bf3;
}
