:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #6b1616;

  --primary-color: #0232c2;
  --secondary-color: #116bf3;

  --inverted-primary-color: #251e1e;
  --inverted-secondary-color: #6e6e6e;
}
