.Navbar{
  width: 100%;
  height: var(--navbar-height);

  background: var(--inverted-bg-color);

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 20px;

  .links{
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}
